<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" type="text/css" rel="stylesheet">

<head>
	<meta charset="UTF-8">
	<title>目標一覧</title>
</head>

<body>


	<hr>
	<h1>目標一覧</h1>



	<table border="1">
		<div class="goal_addbutton">
			<input type="button" onclick="location.href='/goals/add'" value="追加">
		</div>
		<tr>
			<th>目標</th>
			<th>目標ID</th>
		</tr>

		<tr th:each="goal:${goals}">
			<td th:text="${goal.id}"></td>
			<td>
				<a th:href="'/goals/'+${goal.id}+'/tasks'">
					[[${goal.name}]]
				</a>
				<!--				この書き方は、検索時に用いる書き方-->
				<!--				<a th:href="'tasks/?goalId='+${goal.id}"></a>-->
			</td>
			<td>
				<!--				<a th:href="/goal/3/edit" th:text="${goal.name}"></a>-->
				<a th:href="'/goal/'+${goal.id}+'/edit'">編集</a>
			</td>
		</tr>
	</table>


</body>

</html>