<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="/css/style.css" type="text/css" rel="stylesheet">

<head>
	<meta charset="UTF-8">
	<title>タスク一覧</title>
</head>

<body>

	<h1>やることリスト</h1>

	<form action="/tasks/add" method="get">

		<button>追加</button>

		<input type="hidden" name="goalId" th:value="${goalId}">
	</form>
	<table border="1">
		<tr>
			<th>タスク名</th>
			<th>達成回数</th>
			<th>編集</th>
			
		</tr>

		<tr th:each="task:${tasks}">

			<td th:text="${task.name}"></td>
			<td th:text="${task.num}"></td>

			<td>
				<form th:action="'/goals/'+${goalId}+'/tasks/'+${task.id}+'/edit'" method="get">
					<button>編集</button>
				</form>	
			</td>

		</tr>
		<button type="button" onclick="location.href='http://localhost:8080/'">戻る</button>



	</table>


</body>

</html>